STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org:443
CONTRACT_ADDRESSES=[{"address":"CCEMX6Q5V5F5F5F5F5F5F5F5F5F5F5F5F5F5F5F5F5F5F5F5F5F5F5","events":["*"]}]
POLL_INTERVAL_MS=30000
MAX_RECONNECT_ATTEMPTS=5
RECONNECT_DELAY_MS=5000
EVENTS_API_PORT=8787
EVENTS_API_CORS_ORIGIN=http://localhost:5173
WEBHOOK_SECRETS=[{"id":"default","secret":"whsec_your_secret_here"}]
